{% extends "base.html" %}

{% block title %}1S. TAXI - Username{% endblock title %}

{% block content %}

<h1 class="my-[10px] font-bold text-[18px]">Редактирование водителя</h1>

{% if driver.driver.is_active %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
            <label for="id_first_name" class="block mb-2 text-sm font-medium text-gray-900">Имя</label>
            <input 
                type="text"
                value={{ form.first_name.value }} 
                name="first_name"
                id="id_first_name"
                required
                placeholder="Введите имя" 
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            />
        </div>
        <div>
            <label for="id_last_name" class="block mb-2 text-sm font-medium text-gray-900">Фамилия</label>
            <input
                type="text" 
                value={{ form.last_name.value }} 
                name="last_name"
                id="id_last_name"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="Введите фамилию" required />
        </div>
        <div>
            <label for="id_username" class="block mb-2 text-sm font-medium text-gray-900">Имя пользователя</label>
            <input
                type="text" value={{ form.username.value }} id="id_username" name="username"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="Например: 95ААА001АА" required />
        </div>
        <div>
            <label for="id_phone_number" class="block mb-2 text-sm font-medium text-gray-900">Номер телефона</label>
            <input type="tel" value={{ form.phone_number.value }} id="id_phone_number" name="phone_number"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="123-45-678" required />
        </div>
    </div>
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
            <label for="id_car_number" class="block mb-2 text-sm font-medium text-gray-900">Номер машины</label>
            <input
                type="text" 
                value={{ form.car_number.value }} 
                name="car_number"
                id="id_car_number"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="Введите номер машины" required />
        </div>
        <div>
            <label for="id_car_brand" class="block mb-2 text-sm font-medium text-gray-900">Марка машины</label>
            <input
                type="text" 
                value={{ form.car_brand.value }} 
                name="car_brand"
                id="id_car_brand"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="Введите марку машины" required />
        </div>
    </div>
    <label class="block mb-2 text-sm font-medium text-gray-900" for="id_passport">Добавьте изображение</label>
        <input 
            type="file" 
            class="block w-full mb-5 p-2.5 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50" 
            id="id_passport"
            name="passport"
            accept="image/*"
        >
    <div class="my-[20px]">
        <span class="text-[14px] font-semibold">Текущее изображение:</span>
        {% if driver.driver.passport %}
        <img src="{{ driver.driver.passport.url }}" width="200" alt="">
        {% else %}
        <span class="text-[12px] text-gray-500">Нет изображения</span>
        {% endif %}
    </div>
    <button type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Изменить</button>
</form>
{% else %}
<div class="text-center my-10">
    <span class="text-red-500 font-bold">Пользователь заблокирован</span>
</div>
{% endif %}

<div class="mt-[10px]">
    {% if driver.driver.is_active %}
    <a href="{% url "block_driver" driver.driver.pk %}" class="text-sm text-red-400 font-semibold">Заблокировать пользователя</a>
    {% else %}
    <a href="{% url "unblock_driver" driver.driver.pk %}" class="text-sm text-green-400 font-semibold">Разблокировать пользователя</a>
    {% endif %}
    <br />
    {% if driver.status %}
    <a href="{% url "remove_from_line" driver.pk %}" class="text-sm text-blue-400 font-semibold">Удалить из очереди</a>
    {% endif %}
</div>

{% if driver.driver.is_active %}
<h1 class="mb-[10px] mt-[20px] font-bold text-[18px]">Пополнить баланс водителя</h1>

<form action="{% url "add_balance" driver.driver.pk %}" method="post">
    {% csrf_token %}
    <label for="balance" class="block mb-2 text-sm font-medium text-gray-900">Сумма пополнения</label>
    <input type="number" id="balance" min="1000" name="balance"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Введите сумму" required />
    <button type="submit"
        class="text-white mt-[20px] bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Сохранить</button>
</form>

<h1 class="mb-[10px] mt-[20px] font-bold text-[18px]">Вычесть из баланса водителя</h1>

<form action="{% url "minus_balance" driver.driver.pk %}" method="post">
    {% csrf_token %}
    <label for="balance" class="block mb-2 text-sm font-medium text-gray-900">Сумма вычисления</label>
    <input type="number" id="balance" min="1000" name="balance"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Введите сумму" required />
    <button type="submit"
        class="text-white mt-[20px] bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Сохранить</button>
</form>
{% endif %}

{% endblock content %}